{
 "version": 2,
 "builds": [
  {
   "src": "main.jsx",
   "use": "@vercel/static-bulid",
   "config": { "includeFiles": ["dist/**"] }
  }
 ],
 "routes": [
  {
   "src": "/(.*)",
   "dest": "app.js"
  }
 ]
}
